/* Custom styles for <h1> tag */
h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  
  /* Custom styles for <p> tag with id "self-desc" */
  #self-desc {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
  }
  
  /* Custom styles for <nav> tag with id "navbar" */
  #navbar {
    background-color: #1c2731;
    color: #fff;
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
  