
/* Add a rotating animation to the self-image */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the self-image */
#self-image {
    animation: rotate 4s infinite linear;
    /* Rotate the image infinitely in 4 seconds */
}

/* Custom styles for <h1> tag */
h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  
  /* Custom styles for <p> tag with id "self-desc" */
  #self-desc {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
  }
  
  /* Custom styles for <nav> tag with id "navbar" */
  #navbar {
    background-color: #1c2731;
    color: #fff;
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
  